<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="regression Suite" thread-count ="3" parallel="tests" verbose = "10">
    <listeners>
        <listener class-name="com.qa.opencart.listeners.ExtentReportListener"/>
    
        <listener class-name="com.qa.opencart.listeners.TestAllureListener"/>
    </listeners>


    <!-- <test name="Login Test">
        <classes>
            <class name="com.qa.opencart.LoginPageTest"/>
        </classes>
    </test>
    <test name="Register Page Test">
        <classes>
            <class name="com.qa.opencart.RegisterPageTest"/>
        </classes>
    </test> -->
    <test name="Accounts Page Test">
        <classes>
            <class name="com.qa.opencart.AccountsPageTest"/>
        </classes>
    </test>
</suite>