<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="regression Suite" thread-count ="4" parallel="tests" verbose = "10">
    <listeners>
        <listener class-name="com.qa.opencart.listeners.ExtentReportListener"/>
    
        <listener class-name="com.qa.opencart.listeners.TestAllureListener"/>
    </listeners>


    <test name="Login Test - chrome 90.0">
    <parameter name="browser" value="chrome"/>    
    <parameter name="browserversion" value="90.0"/>
        <classes>
            <class name="com.qa.opencart.LoginPageTest"/>
        </classes>
    </test>

    <!-- <test name="Login Test - firefox 83.0">
    <parameter name="browser" value="chrome"/>    
    <parameter name="browserversion" value="82.0"/>
            <classes>
                <class name="com.qa.opencart.LoginPageTest"/>
            </classes>
    </test> -->

    <!-- <test name="Register Page Test - firefox 83.0">
    <parameter name="browser" value="firefox"/>    
    <parameter name="browserversion" value="83.0"/>
        <classes>
            <class name="com.qa.opencart.RegisterPageTest"/>
        </classes>
    </test> -->

    <test name="Accounts Page Test - chrome 91.0">
    <parameter name="browser" value="chrome"/>    
    <parameter name="browserversion" value="91.0"/>
        <classes>
            <class name="com.qa.opencart.AccountsPageTest"/>
        </classes>
    </test>

</suite>